@page "/Contexts"
@using XBRLInspector.Blazor.Models

<h3>Contexts</h3>

<!--
documentation for DxDataGrid at
    https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDataGrid-1
-->

<DxDataGrid Data="@mdl.Contexts" ShowGroupPanel="true" ShowFilterRow="false">
    <DxDataGridColumn Field="@nameof(Context.Id)" Caption="ID" SortIndex="0" SortOrder="@DataGridColumnSortOrder.Ascending" />
    <DxDataGridColumn Field="@nameof(Context.Identifier)" Caption="Identifier" />
    <DxDataGridColumn Field="@nameof(Context.IdentifierScheme)" Caption="Identifier Scheme" />
    <DxDataGridColumn Caption="Duration">
        <DisplayTemplate>
            @{
                var xbrlContext = (context as JeffFerguson.Gepsio.Context);
                if (xbrlContext.DurationPeriod)
                {
                    <span>from @xbrlContext.PeriodStartDate.Date to @xbrlContext.PeriodEndDate.Date</span>
                }
                else
                {
                    <span>@xbrlContext.InstantDate</span>
                }
            }
        </DisplayTemplate>
    </DxDataGridColumn>
</DxDataGrid>

@functions {
    private readonly Model mdl = new Model();

    public class Model
    {
        public int Count { get; private set; }
        public List<Context> Contexts { get; private set; }

        public Model()
        {
            var doc = XbrlDocumentCacheModel.Instance;
            //Contexts = doc.XbrlFragments[0].Contexts.OrderBy(o => o.Id).ToList();
            Contexts = doc.XbrlFragments[0].Contexts.ToList();
        }
    }
}
